.header{
    text-align: center;
}
.submit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }
  body{
      background-color: greenyellow;
  }
  img{
     text-align: center;
     width: 70%;
     height: 70%;
     margin: 0 auto;
  }
  .alpha{
      text-align: center;
  }
  .data{
      background-color: yellow;
  }
.events{
  text-align: center;
}
